body{
    background-color: white;
}
.qt{
    width: 500px;
    border-radius: 10px;
    text-align: center;
}
.legend{
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
  background-clip: text;
  color: transparent;
}